/* Menu list */

.wrapper {
    display: inline-grid;
}

.container {
    display: inline-flex;
    background: rgba(103, 81, 81, 1);
    color: white;
    margin: 17px;
}

.container * {
    margin-right: 29px;
}

.price {
    margin: auto;
}

/* button */
.buttons {
    margin: auto;
    padding: 24px;
}

.container a {
    background-color: wheat;
    box-shadow: 0 5px 0 darkred;
    color: #ff2121;
    font-size: 22px;
    padding: 1em 2.5em;
    text-decoration: none;
  }
  
  .container a:hover {
    background-color: #ce0606;
  }
  
  .container a:active {
    box-shadow: none;
    top: 5px;
  }
  
  .pzimg {
    padding: 13px 13px;
  } 
  
