<html>

<head>
  <!DOCTYPE html>
  <link rel="stylesheet" href="{{ url_for('static', filename='/styles.css') }}">
</head>

<body>

  <!-- NAVBAR ---------------------------------------------------->
  <div class="topbar">
    <img class="itflag" src="{{ url_for('static', filename='images/italy-flag.jpg') }}" alt="logo" width="200" height="40">
  </div>

  <div class="mid">
    <h1 class="title">Super Mario and Luigi's pizzeria</h1>
    <div class="subtext">
      <h3 class="subtexth3">
        Welcome
      </h3>

      {%for x in result%}  
      <li><a>{{x}} </a></li>
      {%endfor%}

    </div>
    
    <br>
    <br>


  </div>

  <!-- FOOTER  ------------------------------------------------->
 


</body>





</html>

<!-- Post content form:  ---------------------
<form class="order" action="/postedstatistics" method="post">
  <input type="text" name="tempavg" value=""><br><br>
  <input type="text" name="tempmin" value=""><br><br><br>
  <input type="text" name="tempmax" value=""><br><br>
  <input type="text" name="humidavg" value=""><br><br><br>


  <input type="submit" value="Submit statistics"></input>
</form>
