*{
    font-family: "IM Fell English SC";
    font-style: normal; 
    font-variant: normal; 
}

body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.title {
    font-size: 8vh;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px rgb(71, 68, 71);
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    background: #ffffff;
    opacity: 0.5;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 15px auto;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

nav ul li a {
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid #000000;
    display: block;
    line-height: 30px;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 5vh;
    color: black;
}

nav ul li a:hover {
    background: #8f918e;
}

.active, .active a {
    background:black;
    color: white;
}

.position {
    width: 100%;
}

.button_return {
    background: #8f918e;
    font-size: 3vh;
    margin: 1vh;
    border: 3px solid black;
    border-radius: 3px;
    left: 1%;
    text-decoration: none;
    bottom: 5%;
    position: absolute;
    padding: 0.8vh;
    color: black;
}

.button_order {
    background: #8f918e;
    font-size: 3vh;
    margin: 1vh;
    border: 2px solid black;
    border-radius: 3px;
    right: 1%;
    text-decoration: none;
    float: right;
    bottom: 5%;
    position: absolute;
    padding: 0.8vh;
    color: black;
}