* {
    font-family: "IM Fell English SC";
    font-style: normal;
    font-variant: normal;
}

/*HOME PAGE*/

.body_home {
    background-image: url("/static/images/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.title_home {
    font-size: 10vh;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px rgb(71, 68, 71)
}

.options{
    font-size: 6vh;
    position: relative;
    color: white;
    margin-bottom: 2px;
}

.image{
    width: 700px;
    height: 500px;
    border-color: black;
    border-width: 3px;
}

.table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
}

#left{
    padding-left: 35px;
}

#right{
    padding-right: 35px;
}




/*MENU PAGES*/

.title_menu {
    font-size: 8vh;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px rgb(71, 68, 71);
    margin-bottom: 10px;
    margin-top: 10px;
}

/* NAVIGATION */
nav {
    background: #ffffff;
    opacity: 0.5;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 15px auto;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}

nav ul li a {
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid #000000;
    display: block;
    line-height: 30px;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    font-size: 5vh;
    color: black;
}

nav ul li a:hover {
    background: #8f918e;
}

.active,
.active a {
    background: black;
    color: white;
}

.position {
    width: 100%;
}

.button_return {
    background: #8f918e;
    font-size: 3vh;
    margin: 1vh;
    border: 3px solid black;
    border-radius: 3px;
    left: 1%;
    text-decoration: none;
    bottom: 5%;
    position: absolute;
    padding: 0.8vh;
    color: black;
}

.button_order {
    background: #8f918e;
    font-size: 3vh;
    margin: 1vh;
    border: 2px solid black;
    border-radius: 3px;
    right: 1%;
    text-decoration: none;
    float: right;
    bottom: 5%;
    position: absolute;
    padding: 0.8vh;
    color: black;
}

/* Menu list */

.mainwrapper {
    text-align: center;
    overflow-y: scroll;
    height: 62vh;
}

.wrapper {
    display: inline-grid;
}

.container {
    display: inline-flex;
    background: rgba(103, 81, 81, 1);
    color: white;
    margin: 17px;
    width: 95vw;
}

.head {
    margin-right: auto;
    margin-left: 1%;
    text-align: left;
}

.price {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.8%;
    font-size: 50px;
}

/* button */
.buttons {
    margin-bottom: auto;
    margin-top: auto;
    padding: 24px;
}

.container a {
    background-color: wheat;
    box-shadow: 0 5px 0 darkred;
    color: #ff2121;
    font-size: 22px;
    padding: 1em 2.5em;
    text-decoration: none;
}

.container a:hover {
    background-color: #ce0606;
}

.container a:active {
    box-shadow: none;
    top: 5px;
}

.menu_img {
    padding: 13px 13px;
}

/*Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* track */
  ::-webkit-scrollbar-track {
    background: rgba(103, 81, 81, 1);; 
  }
   
  /* handle */
  ::-webkit-scrollbar-thumb {
    background: wheat; 
  }
  
  /* handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e0ff22; 
  }
  
/*ORDER DETAILS PAGE*/

.body_details {
    background-image:url("../images/chefbg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
   
.title_details {
    font-size: 10vh;
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px rgb(71, 68, 71);
    margin-bottom: 10px;
    margin-top: 10px; 
}

.logo {
    position: relative;
    width: 120px;
    height: auto;
    box-align: center;
}

.text{
    color: white;
    position: relative;
    text-align: center;
    border: solid white 3px;
    background: #8f918e;
    margin-top: 1%;
    margin-bottom: auto;
    line-height:500% ;
    box-align: center;
}

.total{
    color: white;
    position: relative;
    text-align: center;
}

.return{
    background: #8f918e;
    font-size: 3vh;
    margin: 1vh;
    border: 3px solid black;
    border-radius: 3px;
    left: 1%;
    text-decoration: none;
    bottom: 5%;
    position: absolute;
    padding: 0.8vh;
    color: black;
}

.return:hover{
    font-size: 120%;
}

.submit{
    background: #8f918e;
    font-size: 3vh;
    margin: 1vh;
    border: 2px solid black;
    border-radius: 3px;
    right: 1%;
    text-decoration: none;
    float: right;
    bottom: 5%;
    position: absolute;
    padding: 0.8vh;
    color: black;
}

.submit:hover{
        font-size: 120%;
}

table{
    margin-left: 25%;
}

/*TRACK ORDER*/






/*CASHIER&CHEF*/

.body_order {
    background-color: rgb(185, 184, 184);
}

.title_order {
    font-family: Arial;
    font-size: 7vh;
    position: relative;
    text-align: center;
    color: white;
    -webkit-text-stroke: 2px black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.center_order {
    text-align: center;
    margin: auto;
    width: 95%;
    border-width: thick;
    border:solid black;
    background: #ffffffd8;
    opacity: 0.7;
    padding: 10px;
}
