<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cashier page </title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>

<body class="body_order">
    <h1 class="title_order">ORDERS</h1>
<div class="center_order">
    <div class="mainwrapper">
        <div class="wrapper">
    
            {%for order in resultCashier%}
            <div class="container_details">
                <h1 class="order_id">Order No. : {{order[1]}}</h1>

                <div class="head_id">
                    {%for item in order[3]%}
                    <h2>{{item[0]}}x {{item[1]}} {{item[2]}}</h2>
                    {%endfor%}
                    <hr>
                    <h2>Total: €{{order[2]}}</h2>
                </div>

                <div class="buttons">
                    <a href="/cashier/{{order[0]}}">RECEIPT</a>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

</body>
</html>