<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Cashier page </title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
</head>

<body class="body_order">
    <h1 class="title_order">ORDERS</h1>
<div class="center_order">
    <div class="mainwrapper">
        <div class="wrapper">
    
            {%for x in result%}  
            <div class="container_details">
                <h1 class="order_id">Order ID:</h1>
                <div class="head_id">
                    <h2>{{x[1]}}</h2>
                </div>

                <div class="buttons">
                    <a href="#">START ORDER</a>
                    <a href="#">FINISH ORDER</a>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

</body>
</html>