<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Menu page </title>
    <link href="{{ url_for('static', filename='/styles.css') }}" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=IM Fell English SC' rel='stylesheet'>
</head>

<body class="body_home_menu">
    <table style="margin-left: 38%;">
        <tr>
            <td>
                <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
            </td>
            <td>
                <h1 class="title_menu">MENU</h1>
            </td>
        </tr>
    </table>
    <nav>
        <ul class="no_margin">
            <li>
                <a href="/menu_pizza">Pizza</a>
            </li>
            <li class="active">
                <a href="/menu_pasta">Pasta</a>
            </li>
            <li>
                <a href="/menu_desserts">Desserts</a>
            </li>
            <li>
                <a href="/menu_drinks">Drinks</a>
            </li>
        </ul>
    </nav>
    <div class="mainwrapper">
        <div class="wrapper">

            {%for x in result%}
            <div class="container">
                <img class="menu_img" src="{{ url_for('static', filename='images/' + x[4]) }}" alt="image"
                    style="width: 120px; height: 120px;">
                <div class="head">
                    <h2>{{x[1]}}</h2>
                    <h3>{{x[3]}}</h3>
                </div>
                <h1 class="price">{{x[2]}}</h1>
                <div class="buttons">
                    <a href="/menu_pasta/{{x[0]}}">Add</a>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>

    <div class="position_buttons">
        <a class="button_return_order" id="leftbutton" href="/home">RETURN</a>
        <a class="button_return_order" id="rightbutton" href="/order_details">ORDER DETAILS</a>
    </div>
</body>

</html>