<!DOCTYPE html>
<html>

<head>
   <title> Menu page </title>
   <link href="../static/css/menu_pizza.css" type="text/css" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=IM Fell English SC' rel='stylesheet'></head>
<body>
    <h1 class="title">MENU</h1>
   <nav>
    <ul>
        <li>
            <a href="menu_pizza.html">Pizza</a>
        </li>
        <li>
            <a href="menu_pasta.html">Pasta</a>
        </li>
        <li>
            <a href="menu_desserts.html">Desserts</a>
        </li>
        <li class="active">
            <a href="menu_drinks.html">Drinks</a>
        </li>
    </ul>
   </nav>
</body>
</html>