<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link  rel = "stylesheet" href = "../static/css/order_details.css">
</head>
<body>
    <div>
        <h1 class = "title">Order details</h1>
        <img src="../static/images/logo_real.png"></a>
    </div>

    <div>
        <h3 class ="text">poijihghg<br>
            knjbhiug<br>
            bfdsgnghf</h3>
    </div>
    <div>
        <h2>Total:56</h2>

    </div>
    <div class = "position">
        <a class="return" href="menu_pizza.html">RETURN</a>
        <a class="submit" href="track_order.html">SUBMIT ORDER</a>  
    </div>
</body>
</html>