<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link href="{{ url_for('static', filename='/style.css') }}" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=IM Fell English SC' rel='stylesheet'>
</head>
<body class="body_details">
    <table style="margin-left: 29%;" >
        <tr>
            <td>
                <img class="logo" src="../static/images/logo_real.png">
            </td>
            <td>
                <h1 class = "title_details">Order details</h1>
            </td>
        </tr>
    </table>

    <div class="mainwrapper">
        <div class="wrapper_order_details">

            {%for x in result%}  
            <div class="container_order_details">
                <!-- <img class="pzimg" src="{{ url_for('static', filename='images/{{x[4]}}') }}" alt="image" style="width: 120px; height: 120px;"> -->
                <div>
                    <h3 class="head">Quantity</h3>
                </div>
                <div class="head">
                    <h2>{{x[1]}}</h2>
                    <div class="button_remove" >
                        <a class="button_remove" href="#">Remove</a>
                    </div>
                </div>
                
                <h1 class="price">{{x[2]}}</h1>
                
            </div>
            {%endfor%}
            <hr class="line">
        </div>
       
    </div>
    <div class = "position">
        <a class="return" href=/menu_pizza>RETURN</a>
        <a class="submit" href=/track_order>SUBMIT ORDER</a>  
    </div>
</body>
</html>