<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track order</title>
    <link href="{{ url_for('static', filename='/styles.css') }}" type="text/css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=IM Fell English SC' rel='stylesheet'>
</head>
<body class="body_track_order">
    <table style="margin-left: 32%;" >
        <tr>
            <td>
                <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}">
            </td>
            <td>
                <h1 class = "title_details">Track Order</h1>
            </td>
        </tr>
    </table>
    <table class="da">
        <tr>
            <tr class="me">
                <th><h2>Order number:</h2></th>
                <th><h2>Total price:</h2></th>
            </tr>
            <tr class="no">
                <th><h1>{{ orderTrack[0] }}</h1></th>
                <th><h1>€{{ result[0][0] }}</h1>
                </div>
            </tr>
        </tr>
    
    </table>
    <div align="center">
        <a class="order_track_order" href="/home">Order again</a>
     </div>

</body>
</html>